body {
	line-height: 1.4;
	color: #444;
	background: #fefefe;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.navbar a {
	padding: 0.2em;
	color: #444;
}

img {
	height: auto;
	max-width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.date {
	color: grey;
}
